<template>
    <div class="page-container md-layout-column">
        <navegacao titulo="Início"></navegacao>

        <md-content>
            <h2>Seja bem vindo!</h2>

            <md-divider></md-divider>

            <p>Acesse o menu ao lado para navegar pelo conteúdo disponível.</p>
        </md-content>
    </div>
</template>

<script>
    import Navegacao from '@/components/Navegacao'
    export default {
        name: 'Inicio',
        components: {
            navegacao: Navegacao
        }
    }
</script>

<style scoped>
    .page-container {
        min-height: 100vh;
        overflow: hidden;
        position: relative;
        border: 1px solid rgba(#000, .12);
    }

    .md-content {
        padding: 16px;
    }
</style>