<template>
    <div class="wrapper">
        <md-card>
            <md-card-header>
                <div class="md-title">Login</div>
                <div class="md-subhead">Informe seu e-mail e senha.</div>
            </md-card-header>

            <md-divider></md-divider>

            <md-card-content>
                <md-field :class="{'md-invalid': errors.has('email')}" @input="$v.dados.email.$touch()">
                    <label>E-mail</label>
                    <md-input name="email" type="email" v-model="dados.email" data-vv-as="E-mail" v-validate="'required|email|max:100'"></md-input>
                    <span v-show="errors.has('email')" class="md-error">{{ errors.first('email') }}</span>
                </md-field>

                <md-field :class="{'md-invalid': errors.has('senha')}" @input="$v.dados.senha.$touch()">
                    <label>Senha</label>
                    <md-input name="senha" type="password" v-model="dados.senha" data-vv-as="Senha" v-validate="'required|min:8|max:8'" md-toggle-password></md-input>
                    <span v-show="errors.has('senha')" class="md-error">{{ errors.first('senha') }}</span>
                </md-field>
            </md-card-content>

            <md-card-actions>
                <md-button class="md-primary md-raised" md-ripple :disabled="!formularioEhValido" @click.native="efetuarLogin()"><md-icon>done</md-icon> Ok</md-button>
            </md-card-actions>
        </md-card>

        <md-dialog :md-active.sync="comSucesso">
            <md-dialog-title class="success-title"><md-icon>done_all</md-icon> Sucesso</md-dialog-title>

            <div class="modal-dialog-content">
                <p>Login realizado com sucesso!</p>
            </div>

            <md-dialog-actions>
                <md-button class="md-primary md-raised" @click="fecharModal('sucesso')"><md-icon>done</md-icon> Ok</md-button>
            </md-dialog-actions>
        </md-dialog>

        <md-dialog :md-active.sync="comFalha">
            <md-dialog-title class="error-title"><md-icon>error_outline</md-icon> Erro</md-dialog-title>

            <div class="modal-dialog-content">
                <p>{{ msgErro }}</p>
            </div>

            <md-dialog-actions>
                <md-button class="md-primary md-raised" @click="fecharModal('falha')"><md-icon>done</md-icon> Ok</md-button>
            </md-dialog-actions>
        </md-dialog>

    </div>
</template>

<script>
    import LoginProvider from '../providers/LoginProvider'
    import HelperService from '../services/HelperService'

    export default {
        name: 'Login',
        data() {
            return {
                loginProvider: new LoginProvider(this.$constants.API_HOST),
                helperService: HelperService,
                dados: {},
                comSucesso: false,
                comFalha: false,
                msgErro: null
            }
        },

        methods: {
            efetuarLogin() {
                return this.loginProvider.efetuarLogin(this.dados).then(response => {
                    if (response.hasOwnProperty('token')) {
                        localStorage.setItem('token', response.token)
                        this.comSucesso = true
                    }
                }).catch(error => {
                    this.msgErro = error.response.data.msg
                    this.comFalha = true
                })
            },

            fecharModal(tipo) {
                if (tipo == 'sucesso') {
                    this.comSucesso = false

                    return this.$router.push('/inicio')
                }

                this.comFalha = false
                this.msgErro = null;
            }
        },

        computed: {
            formularioEhValido() {
                return !this.$validator.errors.any() &&
                       !this.helperService.isEmpty(this.dados) &&
                       !this.helperService.isEmpty(this.dados.email) &&
                       !this.helperService.isEmpty(this.dados.senha)
            }
        },

        beforeMount() {
            if (!this.helperService.isEmpty(localStorage.getItem('token'))) {
                return this.$router.push('/inicio');
            }
        }
    }
</script>

<style scoped>
    div.wrapper {
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5)
    }

    .md-card {
        width: 50%;
        position: absolute;
        transform: translateY(-50%);
        height: 330px;
        top: 50%;
        left: 25%;
    }

    @media(max-width: 1023px) {
        .md-card {
            width: 100%;
            left: auto;
            top: 50%;
        }
    }

    .md-dialog-title {
        padding: 16px;
        color: #fff;
    }

    .md-dialog-title .md-icon {
        color: #fff;
    }


    div.modal-dialog-content {
        padding: 0 24px;
    }

    .md-dialog-title.error-title {
        background-color: #ff5252;
    }


    .md-dialog-title.success-title {
        background-color: #448aff;
    }
</style>


