<template>
    <div>
        <md-toolbar class="md-primary">
            <md-button class="md-icon-button" @click="mostrarNavegacao()">
                <md-icon>menu</md-icon>
                <md-tooltip>Mostrar menu</md-tooltip>
            </md-button>
            <span class="md-title">{{ titulo }}</span>
        </md-toolbar>

        <md-drawer :md-active.sync="navegacaoAberta">
            <md-toolbar class="md-transparent" md-elevation="0">
                <span class="md-title">PHP CRUD</span>
            </md-toolbar>

            <md-list>
                <md-list-item to="/inicio">
                    <md-icon>home</md-icon>
                    <span class="md-list-item-text">Início</span>
                </md-list-item>
                <md-list-item to="/pessoa">
                    <md-icon>perm_identity</md-icon>
                    <span class="md-list-item-text">Pessoas</span>
                </md-list-item>
                <md-list-item to="/relatorio">
                    <md-icon>dashboard</md-icon>
                    <span class="md-list-item-text">Relatórios</span>
                </md-list-item>
                <md-list-item @click="mostrarAlertaSair = true">
                    <md-icon>exit_to_app</md-icon>
                    <span class="md-list-item-text">Sair</span>
                </md-list-item>
            </md-list>
        </md-drawer>

        <md-dialog :md-active.sync="mostrarAlertaSair">
            <md-dialog-title class="warning-title"><md-icon>warning</md-icon> Alerta</md-dialog-title>

            <div class="modal-dialog-content">
                <p>Deseja realmente sair?</p>
            </div>

            <md-dialog-actions>
                <md-button class="md-accent md-raised" @click.native="mostrarAlertaSair = false"><md-icon>close</md-icon> Não</md-button>
                <md-button class="md-primary md-raised" @click.native="sair()"><md-icon>done</md-icon> Sim</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</template>

<script>
    export default {
        name: 'Navegacao',
        props: ['titulo'],
        data() {
            return {
                navegacaoAberta: false,
                mostrarAlertaSair: false
            }
        },

        methods: {
            mostrarNavegacao() {
                this.navegacaoAberta = true;
            },

            sair() {
                localStorage.removeItem('token')
                this.$router.push('/')
            }
        }
    }
</script>

<style scoped>
    .md-drawer {
        max-width: 300px;
    }

    .md-dialog-title {
        padding: 16px;
        color: #fff;
    }

    .md-dialog-title .md-icon {
        color: #fff;
    }


    div.modal-dialog-content {
        padding: 0 24px;
    }

    .md-dialog-title.warning-title {
        background-color: #FBC02D;
    }
</style>

