<template>
    <div class="page-container md-layout-column">
        <navegacao titulo="Pessoas"></navegacao>

        <md-content>
            <transition mode="out-in">
                <div key="grid" v-if="!formularioVisivel">
                    <md-table md-card v-model="pessoas" md-sort="id_pessoa" md-sort-order="asc" md-fixed-header>
                        <md-table-toolbar>
                            <div class="md-toolbar-section-start">
                                <h2 class="md-title">Listagem de pessoas</h2>
                            </div>

                            <div class="md-toolbar-section-end">
                                <md-button class="md-primary md-raised" @click.native="toggleForm()">
                                    <md-icon>add</md-icon>
                                    <md-tooltip>Criar uma nova pessoa</md-tooltip>
                                    Criar pessoa
                                </md-button>
                            </div>
                        </md-table-toolbar>

                        <md-table-empty-state md-description="Nenhum resultado a exibir">
                        </md-table-empty-state>

                        <md-table-row slot="md-table-row" slot-scope="{ item }">
                            <md-table-cell md-label="ID" md-sort-by="id_pessoa">{{ item.id_pessoa }}</md-table-cell>
                            <md-table-cell md-label="Nome" md-sort-by="nome">{{ item.nome }}</md-table-cell>
                            <md-table-cell md-label="E-mail" md-sort-by="email">{{ item.email }}</md-table-cell>
                            <md-table-cell md-label="RG">{{ item.rg }}</md-table-cell>
                            <md-table-cell md-label="Opções">
                                <md-button class="md-primary md-icon-button md-raised md-dense" @click.native="editarPessoa(item.id_pessoa)">
                                    <md-icon>create</md-icon>
                                    <md-tooltip md-direction="top">Editar pessoa</md-tooltip>
                                </md-button>

                                <md-button class="md-accent md-icon-button md-raised md-dense" @click.native="excluirPessoa(item.id_pessoa)">
                                    <md-icon>delete</md-icon>
                                    <md-tooltip md-direction="top">Excluir pessoa</md-tooltip>
                                </md-button>

                            </md-table-cell>
                        </md-table-row>
                    </md-table>
                </div>

                <div v-else key="form">
                    <div class="form">
                        <md-card>
                            <md-toolbar class="md-transparent" md-elevation="0">
                                <div class="md-toolbar-section-start">
                                    <h2 class="md-title">Cadastro de pessoa</h2>
                                </div>

                                <div class="md-toolbar-section-end">
                                    <md-button class="md-raised" @click.native="cancelar()">
                                        <md-icon>arrow_back</md-icon>
                                        <md-tooltip>Voltar à listagem</md-tooltip>
                                        Voltar
                                    </md-button>
                                </div>
                            </md-toolbar>

                            <md-divider></md-divider>

                            <md-card-content>
                                <div class="md-layout">
                                    <div class="md-layout-item">
                                        <md-field :class="{'md-invalid': errors.has('nome')}" @input="$v.pessoa.nome.$touch()">
                                            <label>Nome</label>
                                            <md-input name="nome" type="nome" v-model="pessoa.nome" data-vv-as="Nome" v-validate="'required|max:255'"></md-input>
                                            <span v-show="errors.has('nome')" class="md-error">{{ errors.first('nome') }}</span>
                                        </md-field>
                                    </div>

                                    <div class="md-layout-item">
                                        <md-field :class="{'md-invalid': errors.has('email')}" @input="$v.pessoa.email.$touch()">
                                            <label>E-mail</label>
                                            <md-input name="email" type="email" v-model="pessoa.email" data-vv-as="E-mail" v-validate="'required|email|max:100'"></md-input>
                                            <span v-show="errors.has('email')" class="md-error">{{ errors.first('email') }}</span>
                                        </md-field>
                                    </div>

                                    <div class="md-layout-item">
                                        <md-field :class="{'md-invalid': errors.has('senha')}" @input="$v.pessoa.senha.$touch()">
                                            <label>Senha</label>
                                            <md-input name="senha" type="password" v-model="pessoa.senha" data-vv-as="Senha" v-validate="`${ ((pessoa.id_pessoa) ? '' : 'required|') + 'min:8|max:8'}`" md-toggle-password></md-input>
                                            <span v-show="errors.has('senha')" class="md-error">{{ errors.first('senha') }}</span>
                                        </md-field>
                                    </div>
                                </div>

                                <div class="md-layout">
                                    <div class="md-layout-item">
                                        <md-field :class="{'md-invalid': errors.has('rg')}" @input="$v.pessoa.rg.$touch()">
                                            <label>RG</label>
                                            <md-input name="rg" type="text" v-model="pessoa.rg" data-vv-as="RG" v-validate="'required|max:30|numeric'"></md-input>
                                            <span v-show="errors.has('rg')" class="md-error">{{ errors.first('rg') }}</span>
                                        </md-field>
                                    </div>

                                    <div class="md-layout-item">
                                        <md-field :class="{'md-invalid': errors.has('endereco')}" @input="$v.pessoa.endereco.$touch()">
                                            <label>Endereço</label>
                                            <md-input name="endereco" type="text" v-model="pessoa.endereco" data-vv-as="Endereço" v-validate="'required|max:255'"></md-input>
                                            <span v-show="errors.has('endereco')" class="md-error">{{ errors.first('endereco') }}</span>
                                        </md-field>
                                    </div>

                                    <div class="md-layout-item">
                                        <md-field :class="{'md-invalid': errors.has('sexo')}" @input="$v.pessoa.sexo.$touch()">
                                            <label>Sexo</label>
                                            <md-select name="sexo" v-model="pessoa.sexo" data-vv-as="Sexo" v-validate="'required|max:1'">
                                                <md-option></md-option>
                                                <md-option value="F">Feminino</md-option>
                                                <md-option value="M">Masculino</md-option>
                                            </md-select>
                                            <span v-show="errors.has('sexo')" class="md-error">{{ errors.first('sexo') }}</span>
                                        </md-field>
                                    </div>
                                </div>

                                <div class="md-layout">
                                    <div class="md-layout-item">
                                        <md-field :class="{'md-invalid': errors.has('data_nascimento')}" @input="$v.pessoa.data_nascimento.$touch()">
                                            <md-datepicker v-model="pessoa.data_nascimento">
                                                <label>Data de Nascimento</label>
                                            </md-datepicker>
                                        </md-field>
                                    </div>
                                </div>
                            </md-card-content>

                            <md-card-actions>
                                <md-button class="md-accent md-raised" md-ripple @click.native="cancelar()"><md-icon>close</md-icon> Cancelar</md-button>
                                <md-button class="md-primary md-raised" md-ripple :disabled="!formularioEhValido" @click.native="salvarPessoa()"><md-icon>done</md-icon> Ok</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </div>
            </transition>
        </md-content>

        <md-dialog :md-active.sync="comSucesso">
            <md-dialog-title class="success-title"><md-icon>done_all</md-icon> Sucesso</md-dialog-title>

            <div class="modal-dialog-content">
                <p>{{ msgSucesso }}</p>
            </div>

            <md-dialog-actions>
                <md-button class="md-primary md-raised" @click="fecharModal('sucesso')"><md-icon>done</md-icon> Ok</md-button>
            </md-dialog-actions>
        </md-dialog>

        <md-dialog :md-active.sync="comFalha">
            <md-dialog-title class="error-title"><md-icon>error_outline</md-icon> Erro</md-dialog-title>

            <div class="modal-dialog-content">
                <p>{{ msgErro }}</p>
            </div>

            <md-dialog-actions>
                <md-button class="md-primary md-raised" @click="fecharModal('falha')"><md-icon>done</md-icon> Ok</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</template>

<script>
    import Navegacao from '@/components/Navegacao'
    import PessoaProvider from '../providers/PessoaProvider'
    import HelperService from '../services/HelperService'

    export default {
        name: 'Pessoa',
        components: {
            navegacao: Navegacao
        },
        data() {
            return {
                pessoaProvider: null,
                helperService: HelperService,
                pessoas: [],
                formularioVisivel: false,
                pessoa: {},
                comSucesso: false,
                comFalha: false,
                msgErro: null,
                msgSucesso: null
            }
        },

        methods: {
            buscarPessoas() {
                return this.pessoaProvider.buscarPessoas().then(response => {
                    this.pessoas = response
                })
            },

            toggleForm() {
                if (!this.excluindo) {
                    this.formularioVisivel = !this.formularioVisivel
                }

                if (this.helperService.isEmpty(this.pessoa)) {
                    this.pessoa.data_nascimento = this.$moment().format('YYYY-MM-DD');
                }

                this.excluindo = false

                if (!this.formularioVisivel) {
                    this.buscarPessoas()
                }
            },

            cancelar() {
                this.pessoa = {}
                this.toggleForm()
                this.buscarPessoas()
            },

            salvarPessoa() {
                this.pessoa.data_nascimento = this.$moment(this.pessoa.data_nascimento).format('YYYY-MM-DD')
                this.pessoaProvider.salvarPessoa(this.pessoa).then(() => {
                    this.msgSucesso = 'Pessoa salva com sucesso!'
                    this.comSucesso = true
                }).catch(error => {
                    this.msgErro = error.response.data.msg
                    this.comFalha = true
                })
            },

            fecharModal(tipo) {
                if (tipo == 'sucesso') {
                    this.comSucesso = false
                    this.msgSucesso = null
                    this.pessoa = {};
                    return this.toggleForm()
                }

                this.comFalha = false
                this.msgErro = null
            },

            editarPessoa(idPessoa) {
                this.toggleForm()
                this.pessoaProvider.buscarPessoa(idPessoa).then(response => {
                    this.pessoa = response
                }).catch(error => {
                    this.msgErro = error.response.data.msg
                    this.comFalha = true
                })
            },

            excluirPessoa(idPessoa) {
                this.excluindo = true;
                return this.pessoaProvider.excluirPessoa(idPessoa).then(() => {
                    this.msgSucesso = 'Pessoa excluida com sucesso!'
                    this.comSucesso = true
                }).catch(error => {
                    this.msgErro = error.response.data.msg
                    this.comFalha = true
                })
            }
        },

        computed: {
            formularioEhValido() {
                const senhaEhValida = (
                    !this.helperService.isEmpty(this.pessoa.senha) &&
                    this.helperService.isEmpty(this.pessoa.id_pessoa)
                ) || !this.helperService.isEmpty(this.pessoa.id_pessoa)

                return !this.$validator.errors.any() &&
                       !this.helperService.isEmpty(this.pessoa) &&
                       !this.helperService.isEmpty(this.pessoa.email) &&
                       !this.helperService.isEmpty(this.pessoa.nome) &&
                       !this.helperService.isEmpty(this.pessoa.rg) &&
                       !this.helperService.isEmpty(this.pessoa.endereco) &&
                       !this.helperService.isEmpty(this.pessoa.sexo) &&
                       senhaEhValida
            }
        },

        mounted() {
            this.pessoaProvider = new PessoaProvider(this.$constants.API_HOST);
            this.buscarPessoas()
        }
    }
</script>

<style scoped>
    .page-container {
        min-height: 100vh;
        overflow: hidden;
        position: relative;
        border: 1px solid rgba(#000, .12);
    }

    .md-content {
        padding: 16px;
    }

    div.form .md-title {
        font-size: 20px;
    }

    .v-enter-active {
        transition: all .5s ease;
    }

    .v-leave-active {
        transition: all .5s ease;
    }

    .v-enter, .v-leave-to {
        opacity: 0;
    }

    div.form .md-card-content {
        padding: 24px;
    }

    div.form .md-card-content .md-layout .md-layout-item {
        margin: auto 10px;
    }

    .md-dialog-title {
        padding: 16px;
        color: #fff;
    }

    .md-dialog-title .md-icon {
        color: #fff;
    }


    div.modal-dialog-content {
        padding: 0 24px;
    }

    .md-dialog-title.error-title {
        background-color: #ff5252;
    }


    .md-dialog-title.success-title {
        background-color: #448aff;
    }
</style>