<template>
    <div class="page-container md-layout-column">
        <navegacao titulo="Relatórios"></navegacao>
        <md-content>
            <md-card>
                <md-toolbar class="md-transparent" md-elevation="0">
                    <div class="md-toolbar-section-start">
                        <h2 class="md-title">Relatórios gráficos</h2>
                    </div>
                </md-toolbar>

                <md-divider></md-divider>

                <md-card-content>
                    <p class="md-subheading">Pessoas por idade</p>
                    <div class="md-layout">
                        <div class="md-layout-item md-size-100">
                            <chart :chart-data="dadosGraficoIdade.chartData" :options="dadosGraficoIdade.options"></chart>
                        </div>
                    </div>

                    <p class="md-subheading">Pessoas por gênero</p>
                    <div class="md-layout">
                        <div class="md-layout-item md-size-100">
                            <chart :chart-data="dadosGraficoGenero.chartData" :options="dadosGraficoGenero.options"></chart>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
</template>

<script>
import Navegacao from '@/components/Navegacao';
import BarChart from '@/components/charts/BarChart'
import PessoaProvider from '../providers/PessoaProvider'

export default {
    name: 'Relatorio',
    components: {
        navegacao: Navegacao,
        chart: BarChart,
    },
    data() {
        return {
            pessoaProvider: null,
            dadosGraficoIdade: {},
            dadosGraficoGenero: {}
        }
    },
    methods: {
        buscarDadosGraficoIdade() {
            console.log(this.$refs);
            return this.pessoaProvider.buscarDadosGraficoIdade().then(response => {
                console.log(response);
                this.dadosGraficoIdade = {
                    chartData: {
                    labels: response.labels,
                        datasets: [
                            {
                                label: 'Pessoas por idade',
                                backgroundColor: '#f87979',
                                data: response.values
                            }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    stepSize: 5,
                                    max: 100
                                }
                            }]
                        }
                    }
                }
            })
        },

        buscarDadosGraficoGenero() {
            return this.pessoaProvider.buscarDadosGraficoGenero().then(response => {
                this.dadosGraficoGenero = {
                    chartData: {
                        labels: response.labels,
                        datasets: [
                            {
                                label: 'Pessoas por gênero',
                                backgroundColor: '#f87979',
                                data: response.values
                            }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    stepSize: 5,
                                    max: 100
                                }
                            }]
                        }
                    }
                }
            })
        }
    },
    mounted() {
        this.pessoaProvider = new PessoaProvider(this.$constants.API_HOST)
        this.buscarDadosGraficoIdade()
        this.buscarDadosGraficoGenero()
    }
}
</script>

<style scoped>
    .page-container {
        min-height: 100vh;
        overflow: hidden;
        position: relative;
        border: 1px solid rgba(#000, .12);
    }

    .md-content {
        padding: 16px;
    }

    .md-title {
        font-size: 20px;
    }

    .md-card-content {
        padding: 24px;
    }

    p.md-subheading {
        margin-bottom: 15px;
    }

    p.md-subheading:not(:first-of-type) {
        margin-top: 15px;
    }

</style>

